<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 id="center">Your Allergy-Conscious Community</h1>
      </div>
    </div> 
  </div>
</div>

<%= render "user_bricks" %>