<h1>User Show Page</h1>
Name: <%= @user.name %><br />
Recipes:
<ol>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %>
    </li>
  <% end %>  
</ol>
<%= link_to "New Recipe", new_user_recipe_path(@user) %>
