<h1>User Show Page</h1>
Name: <%= @user.name %><br />
Recipes:
<ol>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %>
    </li>
  <% end %>  
</ol>
Favorites:
<ol>
  <% @favorites.each do |favorite| %>
    <li>
      <%= link_to favorite.title, recipe_path(favorite) %>
    </li>
  <% end %>  
</ol>


<% if @user == current_user %>
  <%= link_to "New Recipe", new_user_recipe_path(@user) %>
<% end %>
